.atui-button {
    padding: 1.2rem;
    border: none;
    border-radius: .2rem;
    color: #fff;
    font-weight: 700;
    background: #40a977;
    cursor: pointer;
}

.atui-button:hover,
.atui-button:focus {
}
