/**************************************
** THEMERATOR LIVE PREVIEW
***************************************/

.atui-code {
    color: @ui-text;
    background: @ui-background;
}

.atui-code * {
    background: transparent !important;
}

.atui-code * {
    position: static !important;
    height: auto !important;
    transform: none !important;
}

.invisible-character {
    color: @ui-invisible;
}
