.atui-pane {
    position: relative;
    padding: 3.6rem;
}

@media (min-width: 60em) {

    .atui-pane {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        overflow: auto;
    }

    .atui-pane_left {
        left: 0;
    }

    .atui-pane_right {
        right: 0;
    }

}
