.atui-field > * + * {
    margin-top: .8rem;
}

.atui-field-label {
    display: block;
    font-weight: 700;
}

.atui-field-input {
    display: block;
    width: 100%;
    height: 4.2rem;
}

.atui-field-select {
    display: block;
}
