.atui-field > * + * {
    margin-top: .8rem;
}

.atui-field-label {
    display: block;
    font-weight: 700;
}

.atui-field-input,
.atui-field-select {
    display: block;
    padding: 0 1.2rem;
    border: .1rem solid #c0c0c0;
    width: 100%;
    height: 4.2rem;
    background: #fff;
    border-radius: .2rem;
    -webkit-appearance: none;
}

.atui-field-input:focus,
.atui-field-select:focus {
    border-color: #40a977;
}
