.atui-field > * + * {
    position: relative;
    margin-top: .8rem;
}

.atui-field-label {
    display: block;
    font-weight: 700;
}

.atui-field-input,
.atui-field-select {
    display: block;
    padding: 0 1.2rem;
    border: .1rem solid #c0c0c0;
    border-radius: .4rem;
    width: 100%;
    height: 4.2rem;
    background: #fff;
}

.atui-field-input:focus,
.atui-field-select:focus {
    border-color: #40a977;
}

.atui-field-input_file {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
}

.atui-field-pseudoFile {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    height: 4.8rem;
    text-align: center;
    border-radius: .2rem;
    color: #fff;
    font-weight: 700;
    background: #40a977;
    cursor: pointer;
}

.atui-field-input_file:focus ~ .atui-field-pseudoFile,
.atui-field-input_file:hover ~ .atui-field-pseudoFile,
.atui-field-pseudoFile:focus,
.atui-field-pseudoFile:hover {
    background: #02a5ce;
}

.atui-field-colorPreview {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    margin-top: -.6rem;
    border-radius: 100%;
    height: 1.2rem;
    width: 1.2rem;
}
