@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400");

* {
    box-sizing: border-box;
    cursor: default;
}

:focus {
    outline: none;
    box-shadow: 0 0 .4rem #02a5ce;
}

button, a {
    cursor: pointer;
}

input {
    cursor: text;
}

html {
    font-size: 62.5%;
}

body {
    color: #332c2d;
    background: #fff;
}

body, button, input, select {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

a {
    color: inherit;
}

.atui-box {
}

.atui-box_dusty {
    border-radius: .2rem;
    padding: 1.2rem;
    background: #f0f0f0;
}
